
/*

-------------TYPOGRAPHY -------------------
FONT-SIZE:
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT-WEIGHT:
400 / 700

LINE HEIGHTS
1.2 / .5







*/


:root {
    --primary-clear: #000000;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 { font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
}

h2 { font-weight: 700; }

h3 { font-weight: 700; }

h4 { font-weight: 700; }

p  { font-weight: 400; }

a { font-weight: 400; }